* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  height: 100vh;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: "Helvetica", sans-serif;
}
.v-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-top {
  border-radius: 14px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-1 {
  width: 560px;
  height: 37px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.btn {
  width: 560px;
  height: 37px;
  background-color: #45a049;
  border: none;
  color: white;
  cursor: pointer;
      font-size: 18px;
  text-transform: uppercase;
      transition: background-color 0.2s ease;
}
